.category {
    margin: 10px;
    padding: 20px;
    background-color: #fff7;
    border-radius: 1em;
    border: 1px solid #aaa5;
    font: 1rem 'Fira Sans', sans-serif;
}

.note {
    --bg-color: #fff;
    border-radius: 1em;
    border: 1px solid rgb(150,150,150);
    background:
        linear-gradient(rgba(255,255,255,.1) 0%, rgba(0,0,0,.05) 100%)
        var(--bg-color)
        no-repeat;
    padding: 5px;
    padding-top: 0;
    min-height: 10px;
    max-height: 30ch;
    overflow-y: hidden;
}

.note:hover {
    background:
        linear-gradient(rgba(255,255,255,.2) 50%, rgba(0,0,0,.08) 100%)
        var(--bg-color)
        no-repeat;
    max-height: 50ch;
    overflow-y: auto;
}

h2 {
    position: relative;
    top: -15px;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18pt;
    font-weight: 400;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14pt;
    font-weight: 200;
}

a:hover {
    text-decoration: none;
}

.note > p, h3 {
    color: black;
    margin: 5px;
    white-space: pre-wrap;
    word-break: break-all;
    scrollbar-width: thin;
}

.note > p {
    background: linear-gradient(to bottom, transparent calc(1lh - 1px), #0005 1lh) top left / 100% 1lh;
}

.note > p:hover {
    background: linear-gradient(to bottom, transparent calc(1lh - 1px), #000 1lh) top left / 100% 1lh;
}

.container {
    width: 100%;
    background-color: #eee;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 70ch);
    grid-template-rows: repeat(auto);
    grid-gap: 10px;
}

.note::-webkit-scrollbar {
  width: 4px;
}

.note::-webkit-scrollbar-thumb {
  border: 1px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
  border-radius: 2px;
  background-color: #5555;
}

.note_header {
    display: table-row;
    position: sticky;
    top: 0;
    --bg-color: #fff;
    background:
        linear-gradient(rgba(255,255,255,.05) 10%, rgba(0,0,0,0) 100%)
        var(--bg-color)
        no-repeat;
    opacity: 80%;
}

.note_header > a {
    width: 91.7%;
    padding-top: 5px;
    padding-left: 5px;
    display: table-cell;
}

.button-img {
    margin: 5px;
    opacity: 0.5;
    border: 1px dashed rgb(150,150,150);
    border-radius: 5px;
    background-color: #fff1;
}

.button-img:hover {
    opacity: 0.9;
    border: 1px solid rgb(150,150,150);
    background-color: #fff9;
}

.header {
    display: table-row;
    background:
        linear-gradient(rgb(246, 246, 246) 50%, rgb(240, 240, 240) 100%)
        no-repeat;
    border-bottom: 1px solid #ddd;
}

.header > h1 {
    display: table-cell;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.header > a {
    display: table-cell;
}

.header > a > img {
    opacity: 0.7;
    width: 35px;
    position: relative;
    top: -8px;
}

.toolbox {
    margin: 10px;
    padding: 20px;
    background-color: #fff7;
    border-radius: 1em;
    border: 1px solid #aaa5;
    font: 1rem 'Fira Sans', sans-serif;
}

.toolbox > a > img {
    opacity: 0.7;
    width: 50px;
    margin-inline: 5px;
}


.filter {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3333;
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
}

.form {
    --bg-color: #fff;
    position: fixed;
    top: 5%;
    left: 25%;
    width: 50%;
    border-radius: 1em;
    border: 1px solid rgb(150,150,150);
    background:
        linear-gradient(rgba(255,255,255,.2) 10%, rgba(1,1,1,.2) 100%)
        var(--bg-color)
        no-repeat;
    padding: 5px;
    padding-top: 0;
    overflow-y: hidden;
    z-index: 1;
}

input {
    background-color: #faf;
}

textarea {
    background-color: none;
    outline: none;
	-moz-appearance: none;
	border: none;
	background: linear-gradient(to bottom, transparent calc(1lh - 1px), #0005 1lh) top left / 100% 1lh;
	resize: vertical;
    width: 100%;
    max-height: 75vh;
    min-height: 100px;
}

textarea::-webkit-scrollbar {
    width: 17px;
}

textarea::-webkit-scrollbar-thumb {
    border: 7px solid rgba(0, 0, 0, 0);
    background-clip: content-box;
    border-radius: 2px;
    background-color: #5555;
}

textarea::-webkit-resizer {
    background-image:
    border: 1px solid rgba(0, 0, 0, 0);
    background-clip: content-box;
    border-radius: 5px;
    background-color: #5555;
}

textarea::-webkit-scrollbar-corner {
    background-image:
    border: 1px solid rgba(0, 0, 0, 0);
    background-clip: content-box;
    border-radius: 5px;
    background-color: #5555;
}