.category {
    margin: 1em;
    padding: 2em;
    background-color: #fff7;
    border-radius: 1em;
    border: 1px solid #aaa5;
    font: 1rem 'Fira Sans', sans-serif;
}

.note {
    --bg-color: #fff;
    border-radius: 1em;
    border: 1px solid rgb(150,150,150);
    background:
        linear-gradient(rgba(255,255,255,.1) 50%, rgba(0,0,0,.1) 100%)
        var(--bg-color)
        no-repeat;
    padding: 5px;
    padding-top: 0;
    min-height: 10px;
    max-height: 30ch;
    overflow-y: hidden;
}

.note:hover {
    background:
        linear-gradient(rgba(255,255,255,.2) 50%, rgba(0,0,0,.15) 100%)
        var(--bg-color)
        no-repeat;
    max-height: 50ch;
    overflow-y: auto;
}

h2 {
    position: relative;
    top: -15px;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18pt;
    font-weight: 400;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14pt;
    font-weight: 200;
}

a:hover {
    text-decoration: none;
}

.note > p, h3 {
    color: black;
    margin: 5px;
    white-space: pre-wrap;
    word-break: break-all;
    scrollbar-width: thin;
}

.container {
    width: 100%;
    background-color: #eee;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 70ch);
    grid-template-rows: repeat(auto);
    grid-gap: 10px;
}

.note::-webkit-scrollbar {
  width: 16px;
}

.note::-webkit-scrollbar-thumb {
  border: 6px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 10px;
  background-color: #5555;
}

.note_header {
    display: table-row;
}

.note_header > a {
    width: 91.7%;
}

.note_header a, button {
    padding-top: 10px;
    padding-left: 5px;
    display: table-cell;
}

.button-img {
    position: relative;
    top: -5px;
    left: -8px;
    opacity: 0.5;
    border: 1px dashed rgb(150,150,150);
    border-radius: 5px;
    background-color: #fff1;
    width: 25px;
}

.button-img:hover {
    opacity: 0.9;
    border: 1px solid rgb(150,150,150);
    background-color: #fff9;
    width: 25px;
}