<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Django Notes</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <h1 style="text-align:center;">Заметки</h1>
	</head>
	<body>
        {% block loginout %}
        {% if user.is_authenticated %}
            <p align="center"><a href="{% url 'logout' %}">Log Out</a></p>
            <div class="container">
                <table class="table table-striped">
                    {% for item in notes %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{{item.category.name}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for note in item.notes_of_category %}
                                <tr>
                                    <th scope="row" style="background: {{note.color}}">{{note.title}}</th>
                                    <td>{{note.text}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
        {% endblock %}
	</body>
</html>