<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8" />
		<title>Django Notes</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
        <div class="header">
            <h1>Заметки</h1>
            {% if user.is_authenticated %}
                <p>{{ user.username }}</p>
                <a href="{% url 'logout' %}">
                    <img src="{% static 'images/logout.svg' %}"  class="button-img">
                </a>
                {% else %}
                <a href="{% url 'register' %}">
                    <img src="{% static 'images/register.svg' %}"  class="button-img">
                </a>
                <a href="{% url 'login' %}">
                    <img src="{% static 'images/login.svg' %}"  class="button-img">
                </a>
            {% endif %}
        </div>
    </head>

	<body>
        {% block content %}
            <div class="container">
                <div class="category">
                    <div class="toolbox">
                        {% block toolbox %}
                        <a href="{% url 'new' %}">
                            <img src="{% static 'images/new.svg' %}"  class="button-img">
                        </a>
                        <a href="{% url 'archive' %}">
                            <img src="{% static 'images/history.svg' %}"  class="button-img">
                        </a>
                        <a href="{% url 'new_category' %}">
                            <img src="{% static 'images/new_category.svg' %}"  class="button-img">
                        </a>
                        {% endblock %}
                    </div>
                </div>
            </div>
        <div class="container">
        {% for item in notes %}
            <article class="category">
                <div class="category-header">
                    <h2>{{item.category.name}}</h2>
                    <a href="{% url 'delete_category' item.category.id %}">
                        <img src="{% static 'images/delete_category.svg' %}"  class="button-img">
                    </a>
                </div>

                <div class="wrapper">
                {% for note in item.notes_of_category %}

                <div>
                    <div class="note" style="--bg-color: {{note.color}};">
                        <div class="note_header" style="--bg-color: {{note.color}};">
                            <a href="{% url 'edit' note.id %}">
                                <h3>{{note.title}}</h3>
                            </a>
                            <a href="{% url 'archivate' note.id %}">
                                <img src="{% static 'images/archivate.svg' %}"  class="button-img">
                            </a>
                        </div>
                        <p>{{note.text}}</p>
                    </div>
                </div>

                {% endfor %}
            </div>
        </article>
        {% endfor %}
        </div>
        {% endblock %}

        {% block filter %}
        {% endblock %}

        <footer class="container">
            <p>2023 Vadim Kriulin</p>
        </footer>
	</body>

</html>