<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Django Notes</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <h1 style="text-align:center;">Заметки</h1>
	</head>
	<body>
        {% block content %}
            <p align="center"><a href="{% url 'logout' %}">Log Out</a></p>
            <p align="center"><a href="{% url 'new' %}">New</a></p>
            <div class="container">
                <table class="table table-striped">
                    {% for item in notes %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th colspan="2">{{item.category.name}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Text</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            {% for note in item.notes_of_category %}
                            <tr style="background: {{note.color}}">
                                <th scope="row" >{{note.title}}</th>
                                <td>{{note.text}}</td>
                                <td><a href="{% url 'edit' note.id %}">Edit</a></td>
                                <td><a href="{% url 'archivate' note.id %}">Archivate</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endfor %}
                </table>
            </div>
        <p align="center"><a href="{% url 'archive' %}">Архивированные заметки</a></p>
        {% endblock %}
	</body>
</html>