{% extends "notesapp/index.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="category">
        <div class="toolbox">
            {% block toolbox %}
            <a href="{% url 'new' %}">
                <img src="{% static 'images/new.svg' %}"  class="button-img">
            </a>
            <a href="{% url 'archive' %}">
                <img src="{% static 'images/history.svg' %}"  class="button-img">
            </a>
            {% endblock %}
        </div>
    </div>
        {% for item in notes %}
            <article class="category">
                <h2>{{item.category.name}}</h2>
                <div class="wrapper">
                {% for note in item.notes_of_category %}

                <div>
                    <div class="note" style="--bg-color: {{note.color}};">
                        <div class="note_header" style="--bg-color: {{note.color}};">
                            <a href="{% url 'edit' note.id %}">
                                <h3>{{note.title}}</h3>
                            </a>
                            <a href="{% url 'archivate' note.id %}">
                                <img src="{% static 'images/archivate.svg' %}"  class="button-img">
                            </a>
                        </div>
                        <p>{{note.text}}</p>
                    </div>
                </div>

                {% endfor %}
            </div>
        </article>
        {% endfor %}

    <div class="form" style="--bg-color: {{form.color.value}};">
        <form action="" method="post">
        {% csrf_token %}

            <div class="note_header" style="--bg-color: {{form.color.value}};">
                <input type="submit" class="button-img" value="Готово">
                {{ form.title }}
                {{ form.category }}
                {{ form.color }}
                </div>
            <div class="textbox" rows="100">
                {{ form.text }}
            </div>

        </form>
    </div>
</div>
{% endblock %}

{% block filter %}
<a href="{% url 'mainpage' %}">
    <div class="filter">
    </div>
</a>
{% endblock %}